@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

.lof-blue {
	background-color: #161269;
}

.lof-red {
	background-color: #d90d00;
}

.lof-blue-text {
	color: #161269;
}

.input{
	width: 500px;
}
.submit-btn {
	border-top-right-radius: 28px;
}

.submit-btn:hover {
	background-color: white;
	color: #d90d00;
	border: 1px solid #d90d00;
}

.acorn {
	width: 35px;
}
