@tailwind base;
@tailwind components;
@tailwind utilities;

.lof-blue {
	background-color: #161269;
}

.lof-red {
	background-color: #d90d00;
}

.lof-blue-text {
	color: #161269;
}

.submit-btn:hover {
	background-color: white;
	color: #d90d00;
	border: 1px solid #d90d00;
}

.acorn {
	width: 50px;
}
